<!DOCTYPE html>
<html land="FI-fi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Koulu Projekti - {{ title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='mainstyle.css') }}">
</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand text-success" href="#">MG-Flask</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
            <a class="nav-link text-white" href="{{url_for('home')}}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
            <a class="nav-link text-white" href="#">About Us</a>
            </li>            
            <li class="nav-item">
            <a class="nav-link text-white" href="#">Contact</a>
            </li>
        </ul>
    <!--  if current_user.is_authenticated -->
    {% if current_user.is_authenticated %}
            <li class="nav-item dropdown" style="height:35px;padding:0;list-style:none;">
            
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="account-img rounded-circle" style="width:35px;margin-top:-10px;margin-left:-10px;margin-right:15px;" src="{{ url_for('static',filename='profile_images/'+current_user.image_file) }}">  {{current_user.neckname.capitalize()}}
                </a>
            <div class="dropdown-menu bg-dark text-white" aria-labelledby="navbarDropdown">
                <a class="dropdown-item bg-dark text-white" href="{{url_for('new_tweet')}}">New Tweet</a>
                <a class="dropdown-item bg-dark text-white" href="{{url_for('profile')}}">Profile</a>
                <a class="dropdown-item bg-dark text-white" href="#">Settings</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item bg-dark text-white" href="{{url_for('logout')}}">Logout</a>
            </div>
            </li>
        <!-- else -->
        {% else %}
        <form name="inlineloginform" class="form-inline" method="POST" action="">
            {{ form.hidden_tag() }}
            
                    {{ form.email(class="form-control form-control-sm login-inline")}}
                
                    {{ form.password(class="form-control form-control-sm login-inline1")}}
                
            
                {{ form.submit(class="btn btn-outline-info inlinebtn")}}
                <a class="btn btn-outline-success inlinebtn ml-1 p-0" href="{{ url_for('register') }}">Register</a>
            
            <!--
            <input class="mr-sm-1 login-inline" type="email" placeholder="Email" aria-label="Email">
            <input class="mr-sm-1 login-inline" type="password" placeholder="Password" aria-label="password">
            <button class="btn btn-outline-success my-2 my-sm-0 nav-login" type="submit">Login</button>
            <button class="btn btn-outline-primary my-2 my-sm-0 nav-login" type="submit">Register</button>-->
          </form>
        {% endif %}
        <!-- end if -->         
        </div>
    </nav>
</div>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for category,message in messages %}
        <div class="container alert alert-{{ category }} alert-dismissible fade show" role="alert">
            <span>{{ message }}</span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
            </button>
        </div>
    {% endfor %}
{% endif %}
{% endwith %}
<div class="container">
{% block content %}{% endblock %}
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"></script> 
</body>
</html>