{% extends 'layout.html' %}

{% block content %}

<h1 class="mb-3">{{ user.username.capitalize() }}'s Tweets Total of {{ viestit.total }} tweets</h1>
<!-- BOOTSTRAP CARDS -->
<div class="container mt-5">
    <a class="btn btn-outline-primary bg-primary text-white" href="{{ url_for('home') }}"> << </a>
    <div class="row align-items-start">

        <div class="col-12 col-lg-12">   
            {% for tweet in viestit.items %}
            <div class="card mt-3 shadow shadow-intensity-xl" style="padding-bottom:0px;">
                <div class="card-header bg-success text-white mt-1 py-1">
                    <a>{{ tweet.title }}</a>
                </div>
                <div class="card-body">
                    <img class="account-img roundpic" src="{{ url_for('static',filename='profile_images/'+tweet.author.image_file) }}" style="float:left;margin-right:20px;">
                    <blockquote class="blockquote mb-0">
                    <p class="text-dark">{{ tweet.content }}</p>
                    <footer class="blockquote-footer bg-secondary text-light p-1" style="clear:both;margin-top:20px;font-size:18px;">
                        <a class="text-light" style="font-size:18px;" href="{{ url_for('user_viestit', username=tweet.author.username)}}">{{ tweet.author.neckname }}</a> 
                        <cite title="Source Title" style="float:right;">{{ tweet.date_posted.strftime('%d-%m-%Y') }}</cite>
                    
                    </footer>
                    {% if tweet.author == current_user %}
                        <div class="container d-flex justify-content-end">
                            <a class="btn btn-success btn-sm m-1" href="{{ url_for('update_tweet', tweet_id=tweet.id) }}">Update</a>
                            <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#DeleteModal">Delete</button>
                        </div>
                    {% endif %}
                    
                    </blockquote>
                    
                </div>
                
            </div>        
                 
            {% endfor %}
            <div class="container  d-flex justify-content-end">
            {% for page_num in viestit.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if page_num %}
            {% if viestit.page == page_num %}
                <a class="btn btn-outline-primary bg-secondary text-white mb-4 mx-1" href="{{url_for('user_viestit', username=user.username, page=page_num)}}">{{page_num}}</a>
                {% else %}
                <a class="btn btn-success mb-4 mx-1" href="{{url_for('user_viestit', user=user.username, page=page_num)}}">{{page_num}}</a>
            {% endif %}
            {% else %}
                ...
            {% endif %}
        {% endfor %} 
        </div> 
    </div>
    {% endblock %}